/* Variables */

:root {
  --basic-black: #000000;
  --basic-light-brown: #DFDFDF;
  --basic-extra-light-brown: #D5D5D5;
  --basic-extra-dark: #283136;
  --basic-light-dark: #666666;
  --basic-extra-light-dark: #B4B9BB;
  --basic-grey: #444444;
  --basic-light-grey: #EEEEEE;
  --basic-extra-light-grey: #D7DCDE;
  --basic-light-white: #DBDBDB;
  --basic-white: #FFFFFF;
  --basic-light-red:#FB565A;
  --basic-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-light-green: #00CA74;
  --basic-green: #00BC6C;
  --basic-extra-green: #00AA62;
  --basic-light-yellow: #EFC849;
  --basic-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
  }

  /* Global */

.page-body {
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main-header */

.main-header {
  background-color: var(--basic-light-grey);
  }

.main-header-logo {
  width: 160px;
  height: 65px;
}

/* Main-navigation */

.main-navigation {
  font-weight: 500;
  line-height: 30px;
}

.main-navigation a:hover {
  opacity: 0.7;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-header-bar {
  background-color: var(--basic-light-grey);
}


.main-navigation-wrapper {
 /*  display: grid;
  grid-template-columns: 160px 1fr min-content; */

  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  padding: 0 10px;

}

.site-navigation {
  width: 560px;
  list-style: none;
}

.user-navigation {
  max-width: 200px;
}

.user-navigation .basket {
  padding-left: 65px;
}

/* User navigation and Site-navigation */

.site-navigation,
.user-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-red);
}

.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--basic-light-red);
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Inner-page */

.page-catalog {
 /*  display: grid;
  grid-template-columns: 360px 1fr; */
}

.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 160px;
}

 .page-catalog .page-title {
  /* grid-column: 1 / -1; */
}

 .page-catalog .sort {
  /* grid-column: 2 / -1; */
}

.sort {
  margin: 0;
  padding: 0;
  margin-bottom: 55px;
}

.sort-list {
  margin: 0;
  padding: 0;
}

.pagination-list {
  margin: 0;
  padding: 0;
}

/* Container */

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Advantages */

.advantages  {
  text-transform: none;
  background-color: var(--basic-light-grey);
}

.slide-text {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  margin: 0;
  margin-bottom: 25px;
}

.slide-advantage {
  margin: 0;
  margin-bottom: 38px;
  color: var(--basic-extra-dark);
}

.slide-img {
  width: 760px;
  height: 431px;
}

/* Services */

.services {
  margin-bottom: 120px;
}

.services-list {
  display: flex;
  margin-right: 80px;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px; */

  margin: 0;
  padding: 0;
  list-style: none;
}

.service-item {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 80px;

 /*  display: grid;
  text-align: center; */
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;

  /* grid-row: 2 / 3; */
}

.service-item img {
  order: -1;
  margin-bottom: 25px;
}

.service-item p {
  margin: 0 10px;
  margin-bottom: 32px;
}

/* Button */

.button {
  display: inline-block;
  font: inherit;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-light-red);
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:active {
  background-color: var(--basic-red);
}

.button:focus {
  background-color: var(--basic-extra-red);
}

/* Button-green */

.button-green {
  background-color: var(--basic-light-green);
}

.button-green:hover,
.button-green:active {
  background-color: var(--basic-green);
}

.button-green:focus {
  background-color: var(--basic-extra-green);
}

/* Button-yellow */

.button-yellow {
  width: 160px;
  height: 50px;

  background-color: var(--basic-light-yellow);
}

.button-yellow:hover,
.button-yellow:active {
  background-color: var(--basic-yellow);
}

.button-yellow:focus {
  background-color: var(--basic-extra-yellow);
}

/* Index-columns */

.index-columns {
 /*  display: grid;
  grid-template-columns: 1fr min-content; */

  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-us {
  width: 660px;
  color: var(--basic-extra-dark);
}

.about-us__title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: none;
  color: var(--basic-black);
  margin: 0;
  margin-bottom: 32px;
}

.about-us__info {
  text-transform: none;
  margin: 0;
  margin-bottom: 40px;
}

.order-title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
}

.orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-item {
  text-transform: none;
}

/* results */

.results {
  width: 360px;
}

.results-logo {
  margin-bottom: 37px;
}

.results__info {
  font-weight: 700;
  margin: 0;
  margin-bottom: 31px;
}

.results-number {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.percent {
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}

.results-item {
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark);
}

/* Clients */

.clients {
  margin-bottom: 80px;
}

.clients-list {
  display: flex;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */

  margin: 0;
  padding: 0;
  list-style: none;
}

.clients-list a {
  opacity: 0.2;
}

.clients-list a:hover {
  opacity: 1;
}

.clients-list a:active {
  opacity: 0.1;
}

/* Contacts */

.contacts {
  width: 319px;
  height: 308px;
}

.contacts h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 22px;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
  color: var(--basic-light-dark);
}

.contacts-phone {
  color: var(--basic-light-dark);
}

/* Popup */

.modal {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
  background-color: var(--basic-white);
}

.modal-form input[type="text"],
.modal-form input[type="email"] {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-grey);
  border: 2px solid var(--basic-extra-light-grey);
}

.modal h2 {
  font-size: 45px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 37px;
}

.modal-item input:hover {
  border: 2px solid var(--basic-extra-light-dark);
}

.modal-item input:focus {
  border: 2px solid var(--basic-black);
}

.modal-item input:invalid {
  border: 2px solid var(--basic-red);
}

/* Footer */

.main-footer .container {
  display: flex;

 /*  display: grid;
  grid-template-columns: 1fr 1fr; */
}

.footer-social {
  width: 260px;
  margin-right: 140px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info {
  width: 560px;
}

.footer-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: none;
  margin: 0;
  margin-bottom: 10px;
}

.footer-sale {
  line-height: 22px;
  color: var(--basic-grey);
  text-transform: none;
  margin: 0;
  margin-bottom: 80px;
}

/* Catalog */

.site-navigation-current {
  text-decoration: underline;
}

.page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-transform: none;
  background-color: var(--basic-light-grey);
}

/* Filters */

.filters {
  width: 260px;
  text-transform: none;
  line-height: 20px;
  color: var(--basic-extra-dark);
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}


.filter legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

/* Cost */

.filter .cost {
  line-height: 22px;
  margin-bottom: 54px;
  color: var(--basic-extra-dark);
}

.cost legend {
  margin-bottom: 48px;
}

/* Grid */

.filter .grid {
  margin-bottom: 47px;
}

.grid-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Features */

.filter .features {
  margin-bottom: 50px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item:hover {
  color: var(--basic-extra-dark);
}

.feature-item:disabled {
  color: var(--basic-extra-dark);
  opacity: 0.3;
}

/* Button__filter */

.button__filter {
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.button__filter:hover,
.button__filter:active {
  background-color: var(--basic-light-brown);
}

.button__filter:focus {
  background-color: var(--basic-extra-light-brown);
  opacity: 0.3;
}

/* Sort */

.sort-subtitle {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.sort-list {
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  opacity: 0.3;
}

/* Templates */

.templates {
  width: 760px;

}

.templates-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.template-item {
  width: 358px;
  min-height: 578px;
  margin-right: 40px;
  margin-bottom: 30px;

}

.template-item:nth-child(2n) {
  margin-right: 0;

}

.template-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 12px;
  color: var(--basic-black);
}

.template-description {
  line-height: 18px;
  text-transform: none;
  margin: 0;
  margin-bottom: 32px;
  color: var(--basic-light-dark);
}

.template-img {
  width: 358px;
  height: 578px;
}

.template-name:hover {
  color: var(--basic-light-red);
}

.template-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Pagination-list */

.pagination-list {
  list-style: none;
  font-weight: 500;
  line-height: 18px;
}

.pagination-item-current{
  background-color: var(--basic-white);
}

.pagination-item a {
  color: var(--basic-black);
  background-color: var(--basic-light-grey);
}

.pagination-item a:hover {
  background-color: var(--basic-light-brown);
}

.pagination-item a:focus {
  background-color: var(--basic-extra-light-brown);
}

.pagination-item a:active {
background-color: var(--basic-light-white);
}


